    {{ define "main" }}

    <!-- Navigation -->
    <nav id="nav-header" class="nav nav-transparent">
        <div class="nav-content">
            <a href="#">
            <img class="logo" src="img/logo.svg">
            </a>
            <span class="nav-group optional">
            {{ if .Site.Data.toggles.introduction }}<a class="nav-item" href="#sec-introduction">Introduction</a>{{ end }}
            {{ if .Site.Data.toggles.keydates }}<a class="nav-item" href="#sec-key-dates">Key Dates</a>{{ end }}
            {{ if .Site.Data.toggles.events }}<a class="nav-item" href="#sec-events">Events</a>{{ end }}
            {{ if .Site.Data.toggles.schedule }}<a class="nav-item" href="#sec-schedule">Schedule</a>{{ end }}
            {{ if .Site.Data.toggles.challenges }}<a class="nav-item" href="#sec-challenges">Challenges</a>{{ end }}
            {{ if .Site.Data.toggles.prizes }}<a class="nav-item" href="#sec-prizes">Prizes</a>{{ end }}
            {{ if .Site.Data.toggles.judges }}<a class="nav-item" href="#sec-judges">Speakers</a>{{ end }}
            {{ if .Site.Data.toggles.sponsors }}<a class="nav-item" href="#sec-sponsors">Sponsors</a>{{ end }}
            {{ if .Site.Data.toggles.faq }}<a class="nav-item" href="#sec-faq">FAQ</a>{{ end }}
            <a class="nav-item" href="#sec-team">Team</a>
            </span>
        </div>
    </nav>

    <!-- Hero (logo and sign up) -->
    <div class="hero">
        <div class="call-to-action">
            <div class="countdown">
            <span class="digit" data-label="days"></span>
            <span class="digit" data-label="hours"></span>
            <span class="digit" data-label="minutes"></span>
            <span class="date">February 20th 2021</span>
            {{ if .Site.Data.toggles.applications.open }}
                <a href="{{ .Site.Data.toggles.applications.url }}" class="button">Apply for AI Hack</a>
            {{ else }}
                <span class="button">{{ .Site.Data.toggles.applications.close_msg }}</span>
            {{ end }}
            <a href="https://www.facebook.com/events/403939907489572" class="button subtle">
                Get Updates on Facebook
            </a>
            </div>
        </div>
    <img class="logo" src="img/hero_2021.png">

    </div>

    <!-- Introduction -->
    {{ if .Site.Data.toggles.introduction }}
    <div id="sec-introduction" class="section">
        <h1>What is AI Hack</h1>
            <div class="introduction">
                <p>The largest student-organised data science hackathon in the UK. Our flagship AI Hack this year will be a virtual 24h frenzy of hacking and data science. 
                    It aims to bring the most forward-thinking and creative student data scientist to solve some of the world's most pressing challenges. 
                    Joining us for the hackathon will be a superb experience to </p>
                <ul>
                    <li>Test your data science skills and to apply them to real projects</li>
                    <li>Chance to level up your CV for the career goals you aspire towards!</li>
                    <li>A chance to win part of our £2000 worth of prizes</li>
                    <li>The experience of obtaining professional mentorship during our event</li>
                </ul>
                <h3>Form teams, Solve REAL projects and win prizes.</h3>
            </div>
    </div>
    {{ end }}

    <!-- Key Dates -->
    {{ if .Site.Data.toggles.keydates }}
    <div id="sec-key-dates" class="section">
        <h1>Key Dates</h1>
        <div class="schedule">
        {{ range .Site.Data.keydates }}
            <ul class="day" data-day="{{ .title }}" data-date="{{ .sub }}">
            {{ range .items }}
                <li data-time="{{ .date }}">{{ .title }}</li>
            {{ end }}
            </ul>
        {{ end }}
        </div>
    </div>
    {{ end }}

    <!-- Events -->
    {{ if .Site.Data.toggles.events }}
    <div id="sec-events" class="section">
        <h1>Events</h1>
        <ul class="events">
        {{ range .Site.Data.events }}
            <li class="event">
            <h2>{{ .title }}</h2>
            <h3>{{ .date }}</h3>
            <a class="button" href="{{ .url }}">More Info</a>
            </li>
        {{ end }}
        </ul>
    </div>
    {{ end }}

    <!-- Events -->
    {{ if .Site.Data.toggles.events }}
    <div id="sec-events" class="section">
        <h1>Events</h1>
        <ul class="events">
        {{ range .Site.Data.events }}
            <li class="event">
            <h2>{{ .title }}</h2>
            <h3>{{ .date }}</h3>
            <a class="button" href="{{ .url }}">More Info</a>
            </li>
        {{ end }}
        </ul>
    </div>
    {{ end }}

    <!-- Schedule -->
    {{ if .Site.Data.toggles.schedule }}
    <div id="sec-schedule" class="section">
        <h1>Schedule</h1>
        <div class="schedule">
            {{ range .Site.Data.schedule }}
            <ul class="day" data-day="{{ .day }}" data-date="{{ .date }}">
                {{ range .items }}
                <li data-time="{{ .time }}">{{ .title }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
    {{ end }}

    <!-- Challenges -->
    {{ if .Site.Data.toggles.challenges }}
    <div id="sec-challenges" class="section">
        <h1>Challenges</h1>
        <ul class="events">
        {{ range .Site.Data.challenges }}
            <li class="event">
            <h2>{{ .title }}</h2>
            <h3>From {{ .company }}</h3>
            <a class="button" href="{{ .url }}">Start Challenge</a>
            </li>
        {{ end }}
        </ul>
    </div>
    {{ end }}

    <!-- Prizes -->
    {{ if .Site.Data.toggles.prizes }}
    <div id="sec-prizes" class="section">
        <h1>Prizes</h1>
        <ul class="events">
        {{ range .Site.Data.prizes }}
            <li class="prize">
            <h2>{{ .title }}</h2>
            <h3>{{ .purpose }}</h3>
            </li>
        {{ end }}
        </ul>
    </div>
    {{ end }}

    <!-- Speakers -->
    {{ if .Site.Data.toggles.judges }}
    <div id="sec-judges" class="section">
        <h1>Speakers</h1>
        {{ partial "judges.html" .Site.Data.judges }}
    </div>
    {{ end }}

    <!-- Sponsors -->
    {{ if .Site.Data.toggles.sponsors }}
    <div id="sec-sponsors" class="section">
        <h1>Sponsors</h1>
        <!-- <div class="logo-list" data-tier="Title Sponsor">
            <img style="max-height:100px" src="img/sponsors/{{ .Site.Data.sponsors.title }}.svg">
        </div> -->
        {{ if or .Site.Data.sponsors.general .Site.Data.sponsors.general_png }}
        <div class="logo-list" data-tier="Sponsor">
            {{ range .Site.Data.sponsors.general }}
            <img src="img/sponsors/{{ . }}.svg">
            {{ end }}
            {{ range .Site.Data.sponsors.general_png }}
            <img src="img/sponsors/{{ . }}.png">
            {{ end }}
        </div>
        {{ end }}
        {{ if .Site.Data.sponsors.cloud }}
        <div class="logo-list" data-tier="Cloud Provider">
            {{ range .Site.Data.sponsors.cloud }}
            <img src="img/sponsors/{{ . }}.svg">
            {{ end }}
        </div>
        {{ end }}
        {{ if .Site.Data.sponsors.society }}
        <div class="logo-list" data-tier="Society Partner">
            {{ range .Site.Data.sponsors.society }}
            <img src="img/sponsors/{{ . }}.png">
            {{ end }}
        </div>
        {{ end }}
        </div>
    {{ end }}

    <!-- FAQ -->
    {{ if .Site.Data.toggles.faq }}
    <div id="sec-faq" class="section">
        <h1>Frequently Asked Questions</h1>
        {{ range .Site.Data.faq }}
        <button type="button" class="collapsible">{{ .question }}</button>
        <div class="collap-content">{{ .answer | markdownify }}</div>
        {{ end }}
    </div>
    {{ end }}

    <!-- Team -->
    <div id="sec-team" class="section">
        <h1>Team</h1>
        {{ partial "people.html" .Site.Data.team }}
    </div>

    {{ end }}
